---
import Layout from "../../layouts/Layout.astro";
import PortableText from "../../components/PortableText.astro";
import { getArticle, getArticles } from "../../sanity/useSanityHelper";
import SanityImage from "../../components/SanityImage.astro";

export async function getStaticPaths() {
  const articles = await getArticles();
  return articles.map((article) => ({
    params: { slug: article.slug.current },
  }));
}

const { slug } = Astro.params;
const { articleTitle, articleImage, articleTags, articleDescription } =
  await getArticle(slug);
---

<Layout
  title=`Jonathan Oliver | Front End Engineer | Portfolio | ${articleTitle}`
>
  <header class="mb-4 lg:mb-8">
    <SanityImage
      classes="object-cover object-center w-full h-80 xl:h-[28rem]"
      node={articleImage}
      width="1440"
    />

    <div
      class="mx-auto max-w-[1000px] rounded-xl bg-slate-50 p-4 lg:relative lg:-mt-20 dark:bg-slate-900"
    >
      <h1 class="mb-4">{articleTitle}</h1>

      <div>
        <ul class="flex list-none flex-wrap items-center gap-4">
          {
            articleTags.map((tag) => (
              <li class="w-max rounded-lg border border-gray-900 px-3 py-1.5 text-xs font-bold uppercase text-gray-700 dark:border-white dark:text-white">
                {tag}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </header>

  <article
    class="dark:prose-dark prose mx-auto max-w-[1000px] px-4 pb-8 dark:prose-invert"
    data-aos="fade-in"
  >
    <PortableText value={articleDescription} />
  </article>
</Layout>
