---
import { sanityClient } from "sanity:client";
import { getProfile } from "../sanity/useSanityHelper";
import SanityImage from "../components/SanityImage.astro";

const profile = await getProfile();
const {
  name,
  bio,
  contactPhone,
  contactEmail,
  skills,
  resume,
  profilePicture,
  jobRole,
} = profile;
const cv = await sanityClient.getDocument(resume.asset._ref);
---

<section
  class="container mb-4 min-h-screen py-8 lg:-mt-20 lg:flex lg:items-center lg:justify-center lg:py-0 lg:pt-20"
>
  <div class="items-center lg:flex lg:gap-8">
    <div class="w-full lg:w-1/2">
      <div>
        <h1>
          {name}
        </h1>
        <p class="mb-4 text-xl text-gray-800 lg:text-2xl dark:text-white">
          {jobRole}
        </p>
        <div class="my-6 lg:hidden">
          <SanityImage
            classes="w-full object-cover"
            node={profilePicture}
            width="600"
          />
        </div>
        <ul class="mb-4 flex list-none flex-wrap items-center gap-2">
          {
            skills.map((skill) => (
              <li class="w-max rounded-lg border border-gray-900 px-3 py-1.5 text-xs font-medium uppercase text-gray-800 dark:border-white dark:text-white">
                {skill}
              </li>
            ))
          }
        </ul>
        <p class="mb-6 leading-relaxed text-gray-800 dark:text-white">{bio}</p>

        <div class="flex flex-col gap-3 lg:flex-row">
          <a
            href=`${cv.url}?dl`
            class="transform rounded-lg border border-white bg-slate-800 px-6 py-2 text-center font-medium capitalize tracking-wide text-white transition-colors duration-300 hover:bg-slate-700 focus:outline-none focus:ring focus:ring-slate-800 focus:ring-opacity-80 dark:bg-slate-800 focus:dark:ring-slate-100"
          >
            Download CV
          </a>
          <a
            href=`mailto:${contactEmail}`
            class="transform rounded-lg border border-slate-800 bg-white px-6 py-2 text-center font-medium capitalize tracking-wide text-gray-800 transition-colors duration-300 hover:bg-slate-200 focus:outline-none focus:ring focus:ring-slate-800 focus:ring-opacity-80 dark:border-slate-600 focus:dark:ring-slate-100"
          >
            Get In Touch
          </a>
        </div>
      </div>
    </div>

    <div
      class="relative mt-6 hidden w-full items-center justify-center lg:mt-0 lg:flex lg:w-1/2"
    >
      <SanityImage
        classes="relative z-10 w-full object-cover"
        node={profilePicture}
        width="600"
      />
      <div
        class="inset absolute -right-6 left-6 top-6 z-0 h-full border-8 border-slate-800 dark:border-red-800"
      >
      </div>
    </div>
  </div>
</section>
