---
import SanityImage from "../components/SanityImage.astro";

const { title, imageCard, imageCardUrl, slug, excerpt, stack } = Astro.props;
---

<a
  href=`/portfolio/${slug}`
  aria-label={title}
  class="group hidden h-96 cursor-pointer overflow-hidden rounded-lg bg-cover focus:outline-none focus:ring focus:ring-slate-800 focus:ring-opacity-80 lg:block hover:dark:border-gray-200 dark:hover:text-white focus:dark:ring-slate-100"
  data-aos="zoom-in"
  style=`background-image:url(${imageCardUrl})`
>
  <div
    class="flex h-full w-full flex-col justify-center gap-3 bg-gray-800/60 px-8 py-4 opacity-0 backdrop-blur-sm transition-opacity duration-700 group-hover:opacity-100"
  >
    <h2 class="text-xl font-medium capitalize text-white">{title}</h2>
    <ul class="flex list-none flex-wrap items-center gap-2">
      {
        stack.map((type) => (
          <li class="w-max rounded-lg border border-white px-3 py-1.5 text-xs font-medium uppercase text-white">
            {type}
          </li>
        ))
      }
    </ul>
    <div class="h-[1px] w-full bg-white"></div>
    <p class="text-sm text-white">{excerpt}</p>
  </div>
</a>

<div class="lg:hidden" aria-label={title} data-aos="zoom-in">
  <SanityImage
    classes="w-full h-80 object-cover mb-4 rounded-lg"
    node={imageCard}
    width="512"
    height="320"
  />
  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-medium capitalize text-gray-800 dark:text-white">
      {title}
    </h2>
    <ul class="flex list-none flex-wrap items-center gap-2">
      {
        stack.map((type) => (
          <li class="w-max rounded-lg border border-slate-800 px-3 py-1.5 text-xs font-medium uppercase text-gray-800 dark:border-white dark:text-white">
            {type}
          </li>
        ))
      }
    </ul>
    <div class="h-[1px] w-full bg-slate-800 dark:bg-white"></div>
    <p class="text-sm text-gray-800 dark:text-white">{excerpt}</p>
    <a
      href=`/portfolio/${slug}`
      class="transform rounded-lg border border-white bg-slate-800 px-6 py-2 text-center font-medium capitalize tracking-wide text-white transition-colors duration-300 hover:bg-slate-600 focus:outline-none focus:ring focus:ring-slate-800 focus:ring-opacity-80 dark:bg-slate-700 focus:dark:ring-slate-100"
    >
      View Project
    </a>
  </div>
</div>
