---
const { title, imageCardUrl, slug, excerpt, stack } = Astro.props;
---

<a
  href=`/portfolio/${slug}`
  aria-label={title}
  class="group h-96 cursor-pointer overflow-hidden rounded-lg bg-cover focus:outline-none focus:ring focus:ring-slate-800 focus:ring-opacity-80 hover:dark:border-gray-200 dark:hover:text-white focus:dark:ring-slate-100"
  data-aos="zoom-in"
  style=`background-image:url(${imageCardUrl})`
>
  <div
    class="flex h-full w-full flex-col justify-center gap-3 bg-gray-800/60 px-8 py-4 opacity-0 backdrop-blur-sm transition-opacity duration-700 group-hover:opacity-100"
  >
    <h2 class="text-xl font-semibold capitalize text-white">{title}</h2>
    <ul class="flex list-none flex-wrap items-center gap-2">
      {
        stack.map((type) => (
          <li class="w-max rounded-lg border border-white px-3 py-1.5 text-xs font-medium uppercase text-white">
            {type}
          </li>
        ))
      }
    </ul>
    <div class="h-[1px] w-full bg-white"></div>
    <p class="text-sm text-white">{excerpt}</p>
  </div>
</a>
