---
import Article from "../../components/Article.astro";
import HeadingBlock from "../../components/HeadingBlock.astro";
import Layout from "../../layouts/Layout.astro";
import { getProjects } from "../../sanity/useSanityHelper";

const projects = await getProjects();
---

<Layout
  title="Jonathan Oliver | Front End Engineer | Portfolio"
  metaTitle="Portfolio"
  metaDescription="A Showcase of Cutting-Edge Front-End Projects"
  metaImage="https://plus.unsplash.com/premium_photo-1661338857151-779ee51362c6?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  metaUrl=`https://jonooliver.dev/portfolio`
>
  <HeadingBlock
    title="Portfolio"
    subTitle="A Showcase of Cutting-Edge Front-End Projects"
  />
  <section class="container grid gap-4 pb-8 lg:gap-8">
    {
      projects.map((project) => (
        <Article
          key={project.id}
          type="portfolio"
          slug={project.slug.current}
          title={project.projectTitle}
          excerpt={project.projectExcerpt}
          projectImage={project.projectImage}
          stack={project.projectTechStack}
        />
      ))
    }
  </section>
</Layout>
